<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= museum.title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/map-testing.css">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png"/>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section>  
        <div class="blurry-container">
            <div class="blurry-background" style="background-image: url('https://i.pinimg.com/564x/b7/f7/0f/b7f70fe84c747c2a8d451e8e07db6caf.jpg')"></div>
            <div class="text-overlay">
                <h1 style="color: beige; font-size: 20px;"><%= museum.title %></h1><br>
                <h2 style="color: beige; font-size: 15px;"><%= museum.slogan %></h2><br>
                <p style="color: beige; font-size: 10px;"><%= museum.date %></p>
            </div>
        </div>
        <div id="bar">
            <nav id="ahh">
                <a href="#overview">Overview</a>
                <a href="#details">Famous Monuments</a>
                <a href="#comments-section">Comments</a>
            </nav>
        </div>
        <hr>
    </section>
    <br><br>
    <section id="overview" class="section-content">
        <div id="text-over">
            <h1><%= museum.title %></h1><br>
            <h2><%= museum.slogan %></h2><br>
            <p><%= museum.date %></p>
            <br>
            <p id="paragraph"><%= museum.overview %></p>
        </div>
        <div class="ticket-box">
            <h3>Book a Ticket</h3>
            <p>Explore the wonders of ancient Egypt. Book your tourguide now!</p>
            <a class="button-link"href="/museum/<%=museum._id%>/booking">Book Now</a>
        </div>
    </section>
        <section class="famous-monuments" id="details">
            <div id="monumentsContainer" class="swiper-wrapper">
                <!-- Swiper slides will be dynamically appended here -->
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
          
      
    <section id="comments-section" class="reviews-section">
        <div class="container-comment">
            <div class="container__left">
                <h1>"Discover why countless visitors choose to explore this museum.</h1>
                <p>With a diverse array of exhibits and interactive displays, it caters to various interests, ensuring each guest finds something to admire.</p>
                <p>The commitment to providing enriching experiences has garnered praise from thousands of guests annually. Families bond, friends debate, and individuals reflect within its walls, creating cherished memories that last a lifetime.</p>
                <p>Join the satisfied reviewers. Leave a comment now.</p>
            </div>
           
                <div class="card">
                    <form id="addCommentForm" action="#">
                        <input type="hidden" name="museumId" value="<%=museum._id%>">
                        <div class="rating">
                            <input id="ratingInput" type="number" name="rating" hidden>
                            <i class='bx bx-star star' data-value="1" style="--i: 0;"></i>
                            <i class='bx bx-star star' data-value="2" style="--i: 1;"></i>
                            <i class='bx bx-star star' data-value="3" style="--i: 2;"></i>
                            <i class='bx bx-star star' data-value="4" style="--i: 3;"></i>
                            <i class='bx bx-star star' data-value="5" style="--i: 4;"></i>
                        </div>
                        <textarea name="content" id="commentContent" cols="30" rows="5" placeholder="Your comment..."></textarea>
                        <input type="text" name="username" id="commentUsername" placeholder="Your username">
                            <button type="submit" class="inner-buttons">Save Monument</button>
]                    </form>
                    
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-container">
            <div class="row">
                <div class="footer-col" id="footer-col1">
                    <div class="map-container">
                        <a href="#" class="link"><h4><%= museum.title%></h4></a>
                        <div id="map"></div>
                    </div>
                </div>
                <div class="footer-col" id="footer-col2">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="https://www.instagram.com/explore/locations/298970781/coptic-museum?igsh=eW5td211OTg3NzQ3"><i class="fab fa-instagram"></i></a>
                        <a href="https://youtu.be/cd2WmTqIprc?si=b-FnZCeYnwCSiWIv"><i class="fab fa-youtube"></i></a>
                        <a href="https://www.facebook.com/copticmuseumofficial/"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
      <script src="js/swiper-bundle.min.js"></script>
      <script src="/js/js file"></script>
      <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYfgrabCkaQmKOH2VWYnRREOKAk7M43Ow&loading=async&callback=initMap" >
      </script>
      <script src="../js/map-testing.js"></script>
    </body>
</body>
</html>
